[Unit]
Description=SHAWTY VPN Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/shawtybot
ExecStart=/root/shawtybot/venv/bin/python /root/shawtybot/bot.py
Restart=always
RestartSec=10
Environment=PATH=/root/shawtybot/venv/bin
StandardOutput=append:/root/shawtybot/bot.log
StandardError=append:/root/shawtybot/bot.log

[Install]
WantedBy=multi-user.target
